.base-container {
    height: inherit;
    padding: 0;
}



.all-books-page {
    height: max-content;
}

.library {
    right: 20%;
    width: 80%;
    height: auto;
    @media (max-width: 500px) {
        padding: 0;
    }
    
}

