.base-container {
    height: inherit;
    padding: 0;
}



.all-books-page {
    height: max-content;
}

.library {
    right: 20%;
    width: 70%;
    height: auto;
    @media (max-width: 500px) {
        padding: 0;
    }
    
}

.library__cards {
   
    background-color: white;
    padding: 20px 0;
    border-radius: 10px;
   max-width: 250px;
}


.library__cards--bookmoc {
    height: 200px;
    width: 150px;
    background-color: #90f2ff;
    position: relative;
    box-shadow: -9px 4px 11px 0px rgba(0, 0, 0, 0.2);
    border-radius: 6px;
}

.library__cards--bookmoc::after,
.library__cards--bookmoc::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    pointer-events: none;
    border-radius: 6px;
}

.library__cards--bookmoc::after {
    top: 0;
    right: 0;
    width: 100%;
    box-shadow: inset -4px 0px 5px 4px rgba(0, 0, 0, 0.2);
    ;
}

.library__cards--bookmoc::before {
    top: 0;
    right: 9px;
    width: 1px;
    background-color: #01010138;
    box-shadow: 0px 1px 2px 0px #0000004f;
}

.library__cards--bookmoc--image {
    width: 100%;
    height: 100%;
    border-radius: 6px;
}

.library__cards--bookmoc--image--frame {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 6px;
}



.library__cards__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.library__cards__content--title {
    margin: 12px;
}

.library__cards__content__info {
    display: flex;
    justify-content: space-between;
    align-items: center;

}



.library__cards__content__info p {
    margin: 10px;
}

.library__cards__content__buttons {
    width: 150px;
    margin-top: 10px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
}

.library__cards__content__buttons i {
    color: white !important;
}


.library__cards__content__buttons--add {
    background-color: #5b696a;
    color: white;
    font-size: .7rem;
    font-weight: 500;
    font-family: Dana;
    padding: 10px;
    cursor: pointer;
    border-radius: 6px;
}

.library__cards__content__buttons--fav {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #aa502b;
    cursor: pointer;
}