.cards {
    background-color: white;
    padding: 20px 0;
    border-radius: 10px;
    max-width: 250px;
}


.cards--bookmoc {
    height: 200px;
    width: 150px;
    background-color: #90f2ff;
    position: relative;
    box-shadow: -9px 4px 11px 0px rgba(0, 0, 0, 0.2);
    border-radius: 6px;
}

.cards--bookmoc::after,
.cards--bookmoc::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    pointer-events: none;
    border-radius: 6px;
}

.cards--bookmoc::after {
    top: 0;
    right: 0;
    width: 100%;
    box-shadow: inset -4px 0px 5px 4px rgba(0, 0, 0, 0.2);

}

.cards--bookmoc::before {
    top: 0;
    right: 9px;
    width: 1px;
    background-color: #01010138;
    box-shadow: 0px 1px 2px 0px #0000004f;
}

.cards--bookmoc--image {
    width: 100%;
    height: 100%;
    border-radius: 6px;
}

.cards--bookmoc--image--frame {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 6px;
}



.cards__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cards__content--title {
    margin: 12px;
}

.cards__content__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 150px;

}



.cards__content__info p {
    margin: 10px;
}

.cards__content__buttons {
    width: 150px;
    margin-top: 10px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
}

.cards__content__buttons i {
    color: white !important;
}


.cards__content__buttons--add {
    font-size: .7rem;
    font-weight: 500;
    padding: 10px;
}

.cards__content__buttons--fav {
    background-color: #aa502b;
}

.cards__content__buttons--bin {
    background-color: #5b696a8d;
}

.MyIcon {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.Mybtn {
    background-color: #5b696a;
    color: white;
    font-family: Dana;
    cursor: pointer;
    border-radius: 6px;
}


.text-animation {
    overflow: hidden;
    position: relative;
    transition: height 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.active {
    height: 1em;
    /* Adjust the height to match your text size */
    opacity: 1;
    transition: height 0.5s ease-in-out, opacity 0.5s ease-in-out;
    animation: slideFromTop 0.5s ease-in-out;
}

@keyframes slideFromTop {
    from {
        transform: translateY(-100%);
    }

    to {
        transform: translateY(0);
    }
}