.mgc {
    position: relative;
    width: 16px;
    height: 16px;
    background-clip: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: -0.15px 0.6px 0 7px;
    vertical-align: text-bottom;
    border-radius: 3px;
    transition: background-color 0.25s;
    background-color: #fff;
    border: 1px solid #d7d7d7;
}


.mgc:checked:after {
    content: '';
    display: block;
    height: 4px;
    width: 7px;
    border: 0 solid #f8f7f7;
    border-width: 0 0 2px 2px;
    transform: rotate(-45deg);
    position: absolute;
    top: 3px;
    left: 3px;
}


.mgc-primary {
    background-color: #fff;
    border: 1px solid #d7d7d7;
}

.mgc-primary:checked {
    background-color: #aa502b;
    border-color: #aa502b;
}

.mgc-primary:checked:after {
    border-color: #fff;
}

