body {
    width: 100%;
    margin: 0;
    font-family: Dana !important;
    background-color: rgba(212, 212, 210, 0.35);
}


* {
    box-sizing: border-box;
}

@font-face {
    font-family: Dana !important;
    src: url(./assets/font/Dana-Regular.ttf);
}

h1,
h2,
h3,
h4,
h5,
p,
ul, 
li {
    margin: 0 !important;
    padding: 0;
}

button {
    border: none;
}


li {
    list-style: none !important;
}

a,
a:visited {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}

.no-border {
    border: none !important;
}

.padding-0 {
    padding: 0 !important;
}

.box-shadow-none {
    box-shadow: none !important;
}

.background-color-none {
    background-color: transparent !important;
}

.color-black {
    color: black !important;
}

.accordion-button::after {
    width: .6rem !important;
    height: .6rem !important;
    margin: 0 10px 0 0 !important;
    background-size: .65rem !important;
}

.right-20 {
    right: 20%;
}

.w-80 {
    width: 80% !important;
}
