.saved-books {
    height: fit-content;
    width: 70%;
    

    &__container {
        // max-height: 500px;
        // height: fit-content;
        overflow: hidden;
        background-color: white;
        border-radius: 10px;
        

        &--title,
        &--books{
            width: inherit;
        }

        &--title {
            height: 80px;
            border-bottom: .5px solid #d4d4d2a8;
        }

        &--books {
            // height: 85%;
        }

        &--show-more {
            cursor: pointer;
        }
    }
}